Thumbs.db
.DS_Store
.gradle
build/
classes/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/out/
.asscache
grails-app/taglib/
grails-app/utils/
grails-app/views/user/
out/
prodDb.mv.db
src/integration-test/
src/main/
