//@import 'vendor/normalize/normalize.css';
@import "vendor/bootstrap/bootstrap-reboot";
@import "vendor/bootstrap/bootstrap";

$font-stack: Roboto, Noto, Helvetica, Arial, sans-serif;

$contrast: #E9E9E9;
$base: #222930;
$accent: #4EB1BA;

body {
  //padding: 50px;
  font: 14px $font-stack;
  color: $contrast;
  background-color: $base;
}

nav {
  @extend .navbar;
  @extend .navbar-light;

  background-color: $contrast;

  header {

    a {
      @extend .navbar-brand;

      img {
        width: 25px;
        background-color: $base;
      }
    }
  }

  #navMenu {
    @extend .collapse;
    @extend .navbar-toggleable-xs;

    ul {
      @extend .nav;
      @extend .navbar-nav;

      li {
        @extend .nav-item;

        a {
          @extend .nav-link;
        }

        span {
          @extend .sr-only;
        }
      }

      li:first-of-type {
        @extend .active;
      }
    }
  }



  button#menu {
    @extend .navbar-toggler;
    @extend .hidden-sm-up;
    color: $base;
  }
}

#bodyContent {
  @include make-container();
}

.pageSection {
  @include make-row();
}

main {
  @include make-col(768, 12);

}


h1, h2, h3, h4, h5, h6 {
  color: $accent;
}

article {
  background-color: $contrast;
  color: $base;
  border-radius: 0.5em;
  margin: 2em 0;
  padding: 2em;
  //box-shadow: 0px 0px 20px ;

}

/*article article {
  background-color: $base-primary;
  color: $contrast-primary;
}*/

a {
  color: $accent;
}

a:hover {
  text-decoration: underline;
}

.carousel img {
  clip: rect(0px, 60px, 200px, 0px);
}

#team-tabs {
  @extend .nav;
  @extend .nav-tabs;

  li {
    @extend .nav-item;

    a {
      @extend .nav-link;
    }

    :first-child {
      a {
        @extend .active;
      }
    }

  }
}

textarea.newsContent {
  width: 100%;
  height: 10em;
  overflow: auto;
}