//@import 'vendor/normalize/normalize.css';
@import "vendor/bootstrap/bootstrap-reboot";
@import "vendor/bootstrap/bootstrap";

$font-stack: Roboto, Noto, Helvetica, Arial, sans-serif;

$content: #323940;
$primary: #6377A5; // 6377A5, 3E5489, 273E73, 13295B, 06173E
$accent: #76AC59; // A6D28E, 76AC59, 548D36, 39701C, 1E4C06
$background: #F9F9F9;
$background-em: darken($background, 10%);

// Klimt Colours
// Prussian Blue #0B3C5D
// Sky Blue #328CC1
// Gold Leaf #D98310
// Ivory Black #1D2731

body {
  //padding: 50px;
  font: 14px $font-stack;
  color: $content;
  background-color: $background;
}

nav {
  @extend .navbar;
  @extend .navbar-dark;

  background-color: $primary;
  header {

    a {
      @extend .navbar-brand;
      color: $background;

      img {
        width: 25px;
        background-color: $primary;
      }
    }
  }

  #navMenu {
    @extend .collapse;
    @extend .navbar-toggleable-xs;

    ul {
      @extend .nav;
      @extend .navbar-nav;

      li {
        @extend .nav-item;

        a {
          @extend .nav-link;
        }

        span {
          @extend .sr-only;
        }
      }

      li:first-of-type {
        @extend .active;
      }
    }
  }



  button#menu {
    @extend .navbar-toggler;
    @extend .hidden-sm-up;
    color: $primary;
  }
}

#bodyContent {
  @include make-container();
}

.pageSection {
  @include make-row();
}

main {
  @include make-col(768, 12);

}


h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

h1 {
  margin: 0 auto;
}

article {
  //background-color: $contrast;
  //color: $base;
  //order-radius: 0.5em;
  margin: 1em 0;
  padding: 1em;
  border-color: rgba(0, 0, 0, 0);
  border-top: 1px solid;

  //box-shadow: 0px 0px 20px ;

}

/*article article {
  background-color: $base-primary;
  color: $contrast-primary;
}*/

a {
  color: $accent;
}

a:hover {
  text-decoration: underline;
}

.carousel img {
  clip: rect(0px, 60px, 200px, 0px);
}

#team-tabs {
  @extend .nav;
  @extend .nav-tabs;

  li {
    @extend .nav-item;

    a {
      @extend .nav-link;
    }

    :first-child {
      a {
        @extend .active;
      }
    }

  }
}

textarea.newsContent {
  width: 100%;
  height: 10em;
  overflow: auto;
}